---
layout: layout.liquid
title: Polaroid Cloud
---
<body>
    <header>
        <h1>Polaroid Cloud</h1>
    </header>
    <main>
        <section class = "hero">
            <h2>Film to Phone</h2>
            <img class="pic" alt="camera" src="/images/polaroid.png" />
        </section>
        <section class = "details">
        <h3>Any cloud, anytime.</h3>

        <p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you’ve come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>

        <h3>Easy, cheesy!</h3>
        <ul>
            <li>
            <img class="list_pics" alt="wifi" src="/images/wifi.png"/> 
            Connect your Polaroid to a WiFi network
            </li>
            <li>
            <img class="list_pics" alt="cloud" src="/images/cloud.png"/>
            Configure your favorite cloud
            </li>
            <li>
            <img class="list_pics qr" alt="qrcode" src="/images/qrcode.png"/>
            Point, shoot, and print your QR-tagged photo
            </li>
            <li>
            <img class="list_pics" alt="photo" src="/images/photo.png"/>
            Share your physical and digital photos with friends and family
            </li>
        </ul>
        </section>
        <seciton class = "cta">
            <h3>Be the first to know.</h3>
            <form action = "#">
                <input type="text" placeholder="Enter your email address to receive updates"><input type="button" class="button" value="Keep in touch">
            </form>
        </section>
    </main>
</body>