---
layout: layout.liquid
title: 11ty Boilerplate
---
<body>
    <header>
        <h1>Polaroid Cloud
    </header>
    <main>
        <section class = "hero">
            <h2>Film to Phone</h2>
        </section>
        <section class = "details">
        <h3>Any cloud, anytime</h3>
        
        <p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you’ve come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>

        <h3>Easy, cheesy!</h3>
        <ul>
            <li>Connect your Polaroid to a WiFi network</li>
            <li>Configure your favorite cloud</li>
            <li>Point, shoot, and print your QR-tagged photo</li>
            <li>Share your physical and digital photos with friends and family</li>
        </ul>
        </section>
        <seciton class = "cta">
            <h3>Be the first to know.</h3>
            <form action = "#">
                <input type="text" placeholder="Enter your email address to receive updates"><input type="button" value="Keep in touch">
            </form>
        </section>
    </main>
</body>