@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
:root{
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body{
    font-family: "Inter", sans-serif;
    color: var(--primary-text-color);
    margin:0;
    padding:0;
}

header{
    padding: 20px;
    margin-bottom: 100px;
}

header h1{
    margin: 0;
    font-weight: normal;
}

main{
    background: url('images/polaroid.png') no-repeat center 100px;
    margin:  auto;
    width: 1000px;
}

h3{
    text-align: center;
    font-size: 3em;
}

p{
    padding-left: 10%;
    padding-right: 10%;
}

.hero{
    text-align: center;
    min-height: 800px;
}

.pic{
    height:800px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin:0;
}

.details ul li{
    list-style-type: none;
    margin:10px 0;
    padding: 0 0 0 40px;
}

.list_pics{
    margin:auto;
    padding-right: 12px;
    height:14px;
    padding-left: 15%;
}

.list_pics.qr{
    width:14px;
    padding-left: 15.15%;
    padding-right: 15px;
}

form{
    margin:auto;
    width:50%;
    background-color: #E9E9E9;
    margin-bottom: 10%;
    padding:2%;
    border-radius:25px;
}

input[type="text"] {
    width: 60%;
    height:40px;
}

input::placeholder{
    padding: 0 20px;
}

.button{
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}